biopython
aiosparql
aiohttp
redis
lru-dict
flask
flask-restful
flasgger
sparqlwrapper
psycopg2-binary
neo4j-driver
pyld
networkx==1.11
ply
ndex2
ontobio
pronto
pika
mysql-connector
-e git+https://github.com/Supervisor/supervisor@dbff619f79c48da0776178e627221da6e40a3261#egg=supervisor
aiosparql
aiohttp
pytabix
